.contact-div {
  width: 100%;
  background-color: rgb(18, 18, 29);
}

.contact-nav {
  height: 2rem;
  margin-bottom: 1rem;
  z-index: 100;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

.contact-nav a {
  text-decoration: none;
  color: white;
}

/*========================== 
    navbar images
 ===========================*/

.link {
  font-size: 0.7rem;
  /* height: 100%; */
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 1rem;
}

.img {
  width: 1rem;
  margin-right: 1rem;
}

.link text {
  margin-bottom: auto;
}

/*========================== 
    input styling
 ===========================*/

.link input {
  outline: none;
  border: none;
  background: none;
  color: white;
}
