#personal-info {
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0;
  padding: 2rem 2rem 1rem 2rem;
}

.name {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

/* h2 {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 500;
  color: rgb(173, 149, 13);
} */

.title {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: rgb(173, 149, 13);
  border: none;
  background: none;
  outline: none;
  height: 1.1rem;
}

.description {
  font-size: 0.9rem;
  margin: 1rem 0 0 0;
  padding: 0;
  font-weight: 500;
  color: white;
  border: none;
  background: none;
  outline: none;
  height: auto;
  width: 100%;
  word-wrap: ;
}
